.story {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba($color-black, .1);
  background-color: rgba($color-white, .60);
  border-radius: .3rem;
  padding: 6rem;
  // To offset the padding lost from the transform below
  padding-left: 9rem;
  font-size: $default-font-size;
  transform: skewX(-12deg);

  & > * {
    // Needs to applied to shape as well. CSS will not allow to apply 2 transforms this way
    transform: skewX(12deg);
  }

  &__shape {
    width: 15rem;
    height: 15rem;
    float: left;
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    // TranslateX to create seperation of text from the image
    transform: translateX(-3rem) skewX(12deg);
    position: relative;
  }

  // Need to specify to occupy 100% of parent element
  &__img {
    height: 100%;
    // Center image inside of container
    transform: translateX(-4rem) scale(1.4);
    transition: all .5s;
  }

  &__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    color: $color-white;
    text-transform: uppercase;
    font-size: 1.7rem;
    text-align: center;
    opacity: 0;
    transition: all .5s;
    // Stop shaking at the end of animation transition
    backface-visibility: hidden;
  }

  &:hover &__caption {
    opacity: 1;
    transform: translate(-50%, -50%)
  }

  &:hover &__img {
    transform: translateX(-4rem) scale(1);
    filter: blur(0.3rem) brightness(80%);
  }
}